*{
    margin : 0px;
    padding : 0px;
    box-sizing : border-box; 
    // border: 5px solid black;
  
    body{
      font-size : 20px;
      font-family : sans-serif;
    }
}


.navbar-brand
{
    font-size: 6vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar
{
    width: 100%;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    // border: 3px solid red;
    
    
}
.navbar-nav
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 6vh;
  
}

.nav-link
{
    font-size: 2.5vh;
}

@media(max-width:426px)
{
    .navbar
    {
        // border: 3px solid black;
    }
}

.aboutus
{
    // border: 2px solid green;
    margin-top: 7%;
    padding: 1.5%;
    background-image: url(img/download.png);
    border-radius: 50px;
    
}

.aboutus h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    text-decoration: underline dotted rebeccapurple 21%;

}
@media (max-width:1025px)
{
    .aboutus
    {
        margin-top: 10%;
        // border-image-width: 100%;
        // width: 1000px;
        width: 161%;
        // margin-left: 11%;
        // border: 3px solid green;


    }
}

@media(max-width:769px) 
{
    .aboutus
    {
        margin-top: 17%;
        // border: 3px solid maroon;


    }
}

@media(max-width:426px)
{
    .aboutus
    {
        margin-top: 20%;
        // border: 3px solid green;
        width: 278%
    }
}

@media(max-width:376px)
{
    .aboutus
    {
        margin-top: 25%;
        // border: 3px solid violet;
        width: 316%;
    }
}
@media(max-width:321px)
{
    .aboutus
    {
        width: 370%;
    }
}
.container
{
    
    // border: 3px solid mediumaquamarine;
    margin-top: 3%;
    // background-color: black;
    // color: #f7f7f7;
    padding-bottom: 5%;
    margin-bottom: 1.5%;
    display: flex;
    width: 100%;
    max-width: 100000px;
    padding-top: 5%;


}
    
    


.right
{
    border: 3px solid #BF9270;
    width: 10%;
    height: 22em;
    background-color: #BF9270;
    margin-left: 4%;
    
}

.left
{
    // border:  3px solid red;
   
    margin-left: -50px;
    
    
}
.left1
{
    // border: 3px solid pink;
    // display: flex;
    // justify-content: center;
    // text-align:  center;
    padding-left: 3%;
    padding-right: 4%;
    // text-align: center;
    padding-top: 3%;
    width: 100%;
   
}
.cont
{
    display: flex;
    margin-left: -4%;
}
.right1
{
    // border: 3px solid #BF9270;
    width: 1%;
    height: 10em;
    background-color: #BF9270;

    margin-left: 4%;
}
.left2
{
    // border: 3px solid red;
    justify-content: center;
    text-align:  left;
    padding-top: 3%;
    padding-left: 3%;
    background-color: #FCF6F5FF;

}

@media(max-width:1025px)
{
    .container
    {
        // border: 2px solid magenta;
        width: 161%;
        
    }
}

@media(max-width:769px) 
{
    .container{
        width: 161%;
        // border: 2px solid sandybrown;
    }   
}

@media(max-width:426px)
{
    .container
    {
        width: 278%;
        // border: 3px solid red;
    }
}
@media(max-width:376px)
{
    .container
    {
        width: 316%;
    }
}
@media(max-width:321px)
{
    .container
    {
        width: 370%;
    }
}
.change
{
    // border:  3px solid violet;
    width: 100%;
    padding-top :5% ;
    padding-bottom: 5%;
    margin-bottom: 5%;
    background-color: #FCF6F5FF;

}
@media(max-width:1025px)
{
    .change
    {
        width: 161%;
    }
}
@media(max-width:769px) 
{
    .change
    {
        // border: 3px solid blue;
        width: 161%;
    }
}

@media(max-width:426px)
{
    .change{

        width: 278%;
        // border: 3px solid black;
        text-align: center;
    }
    


}
@media(max-width:376px)
{
    .change
    {
        width: 316%;
    }
}
@media(max-width:321px)
{
    .change
    {
        width: 370%;
    }
}
.change2
{
    // display: flex;
    display:inline-flex;
    margin-left: 11%;
    gap: 2%;
    
}
    h5:hover
{
    background-color: #E9E5D6;
    width: 45%;
    border-radius: 3px;
    text-align: center;
    
}


@media(max-width:769px) 
{
    .change2
    {
        // border: 3px solid gray;
        margin-left: 2%;
    }   
}

@media(max-width:426px)
{
    .change2{
        // border:  3px solid orange;
        justify-content: left;
    }
}


.tharapy
{
    // border: 3px solid orange;
    // margin-top: %;
    padding-top: 3%;
    margin-bottom: 5%;
    padding: 2%;
    padding-bottom: 5%;
    .tharapy1
    {
        margin-top: 2%;
    }
}

@media(max-width:1025px)
{
    .tharapy
    {
        width: 161%;
    }
}
@media(max-width:769px) 
{
    .tharapy
    {
        // border: 3px solid magenta;
        width: 161%;
    }
}

@media(max-width:426px)
{
    .tharapy
    {
        // border: 3px solid slateblue;
        width: 278%;

        center.h2
        {
            font-size: small;
            color: #BF9270;
        }
    }
}

@media(max-width:376px)
{
    .tharapy
    {
        width: 316%;
    }
}
@media(max-width:321px)
{
    .tharapy
    {
        width: 370%;
}
}

.foote{
    margin-top: 4%;
    // border: 3px solid brown;
    width: 100%;
    // height: 550px;
    margin-top: 1%;
    // margin-bottom: 3%;
    background-color: #f7f7f7;
    display: flex;
    
    // background-image: url(img/life.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    // background-position-y: 50%;
    background-position: 50%;

    
    
  
}
.foote1{
    padding: 2%;
    // border: 3px solid black;
    margin: 4%;
    width: 32%;
    // display: flex;
}
.some
{
    display: flex; 
    width: 50%; 
    row-gap: 2%; 
    // border: 3px solid greenyellow;     
    padding: 3%;
}
.foote2{
    // border: 3px solid black;
    width: 15%;
    padding: 2%;
    margin: 4%;

}
.foote3
{
    // border: 3px solid black;
    width: 25%;
    padding: 2%;
    margin: 4%;

}
@media(max-width:1025px)
{
    .foote
    {
        // border:  3px solid green;
        width: 124%;
    }
   
}
@media(max-width:1025px)
{
    .foote
    {
        // border: 3px solid green;
        width: 161%;
    }
}

@media (max-width:769px)
{
    .foote
    {
        justify-content: center;
        align-items: center;
        .foote1
        {
            width: 60%;

            justify-content: center;
            align-items: center;
            flex-direction: column;
            .some
            {
                width: 100%;
                // border: 3px solid gold;
            }
        }
        .foote2
        {
            width: 35%;
        }
        .foote3
        {
            width: 41%;
        }
    }

}

@media (max-width:426px) {
    .foote
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:278%;
        .foote1
        {
            text-align: center;
            width: 80%;
        }
        .foote2
        {
            // align-items: center;
            // justify-content: center;
            // flex-direction: column;
            text-align: center;

            width: 80%;
        }
        .foote3
        {
            text-align: center;
            
            width: 80%;
        }
    }
    
}
@media(max-width:376px)
{
    .foote
    {
        width: 316%;
    }
}
@media(max-width:321px)
{
    .foote
    {
        width: 370%;
    }
}
.last
{
    // border: 2px solid green;
    width: 100%;
    // background-color: black;
    padding-bottom: 3%;
}
@media(max-width:1025px)
{
    .last
    {
        width: 124%;
    }
}

@media (max-width:768px)
{
    .last
    {
        padding-bottom: 10%;
    }
}

@media(max-width:426px)
{
    .last
    {
        width: 278%;
    }
}
@media(max-width:376px)
{
    .last
    {
        width: 316%;
    }
}
@media(max-width:321px)
{
    .last
    {
        width: 370%;
    }
}