*{
    margin : 0px;
    padding : 0px;
    box-sizing : border-box; 
    // border: 5px solid black;
  
    body{
      font-size : 20px;
      font-family : sans-serif;
    }
}

.navbar-brand
{
    font-size: 6vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.navbar
{
    width: 100%;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    // border: 3px solid red;
    
    
}
.navbar-nav
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 6vh;
  
}

.nav-link
{
    font-size: 2.5vh;
}


.imgform
{
    width: 100%;
    height: 100%;
    // border: 4px solid green;
    // display: flex;
    margin-top: 5%;
    display: flex;
}

.imgandform
{

       display: flex;
       margin: 4%;
}
.formm
{
    // border: 2px solid orange;
    // margin: 5%;
    padding:8% ;
}

.imgg
{

    // border: 2px solid red;
    margin: 5%;
    // padding-top: 4%;
    border-radius: 30px;
    width: 40%;
    height: 40%;
    text-align: center;
    
    
}

@media (max-width:1024px)
{
    .imgandform
    {
        justify-content: center;
        align-self: center;
        align-items: center;
        flex-direction: column;
        .formm
        {
            justify-content: center;
            align-self: center;
            align-items: center;
            flex-direction: column;

        //    border: 2px solid blue;
           margin-left: 50%;
           margin-top: 3%;
           width: 70%;
            
        }
       

    }
    .imgg{
        display: none;
        // border: 2px solid orange;
    }
}

@media (max-width:780px)
{
    .imgandform
    {
        justify-content: center;
        align-self: center;
        align-items: center;
        flex-direction: column;
        .formm
        {
            justify-content: center;
            align-self: center;
            align-items: center;
            flex-direction: column;

        //    border: 2px solid green;
           margin-left: 25%;
           margin-top: 5%;
           width: 90%;

            
        }
       

    }
    
}
@media (max-width:450px)
{
    .imgandform
    {
        justify-content: center;
        align-self: center;
        align-items: center;
        flex-direction: column;
        .formm
        {
            justify-content: center;
            align-self: center;
            align-items: center;
            flex-direction: column;

        //    border: 2px solid orange;
           margin-left: 2%;
           margin-top: 10%;
           width: 100%;
           padding: 1%;
           height: 20%;
            
        }
       

    }
    
}

.foote{
    // border: 3px solid brown;
    width: 100%;
    // height: 550px;
    margin-top: 0%;
    // margin-bottom: 3%;
    background-color: #533535;
    display: flex;
    
    // background-image: url(img/life.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    // background-position-y: 50%;
    background-position: 50%;
    color: white;
    // margin-bottom: 60%;
    padding-bottom: 5%;

    
    
  
}
.foote1{
    padding: 2%;
    // border: 3px solid black;
    margin: 4%;
    width: 32%;
    // display: flex;
}
.some
{
    display: flex; 
    width: 50%; 
    row-gap: 2%; 
    // border: 3px solid greenyellow;     
    padding: 3%;
}
.foote2{
    // border: 3px solid black;
    width: 15%;
    padding: 2%;
    margin: 4%;

}
.foote3
{
    // border: 3px solid black;
    width: 25%;
    padding: 2%;
    margin: 4%;

}

@media (max-width:769px)
{
    .foote
    {
        justify-content: center;
        align-items: center;
        .foote1
        {
            width: 60%;

            justify-content: center;
            align-items: center;
            flex-direction: column;
            .some
            {
                width: 100%;
                // border: 3px solid gold;
            }
        }
        .foote2
        {
            width: 35%;
        }
        .foote3
        {
            width: 41%;
        }
    }

}

@media (max-width:400px) {
    .foote
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .foote1
        {
            text-align: center;
            width: 80%;
        }
        .foote2
        {
            // align-items: center;
            // justify-content: center;
            // flex-direction: column;
            text-align: center;

            width: 80%;
        }
        .foote3
        {
            text-align: center;
            
            width: 80%;
        }
    }
    
}
.last
{
    // border: 2px solid green;
    width: 100%;
    background-color: #6B4F4F;
    padding-bottom: 3%;
}

@media (max-width:768px)
{
    .last
    {
        padding-bottom: 10%;
    }
}

