* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body {
  font-size: 20px;
  font-family: sans-serif;
}

.navbar-brand {
  font-size: 6vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar {
  width: 100%;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-nav {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 6vh;
}

.nav-link {
  font-size: 2.5vh;
}

.imgform {
  width: 100%;
  height: 100%;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.imgandform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4%;
}

.formm {
  padding: 8%;
}

.imgg {
  margin: 5%;
  border-radius: 30px;
  width: 40%;
  height: 40%;
  text-align: center;
}

@media (max-width: 1024px) {
  .imgandform {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .imgandform .formm {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 50%;
    margin-top: 3%;
    width: 70%;
  }
  .imgg {
    display: none;
  }
}

@media (max-width: 780px) {
  .imgandform {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .imgandform .formm {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 25%;
    margin-top: 5%;
    width: 90%;
  }
}

@media (max-width: 450px) {
  .imgandform {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .imgandform .formm {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 2%;
    margin-top: 10%;
    width: 100%;
    padding: 1%;
    height: 20%;
  }
}

.foote {
  width: 100%;
  margin-top: 0%;
  background-color: #533535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  color: white;
  padding-bottom: 5%;
}

.foote1 {
  padding: 2%;
  margin: 4%;
  width: 32%;
}

.some {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  row-gap: 2%;
  padding: 3%;
}

.foote2 {
  width: 15%;
  padding: 2%;
  margin: 4%;
}

.foote3 {
  width: 25%;
  padding: 2%;
  margin: 4%;
}

@media (max-width: 769px) {
  .foote {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .foote .foote1 {
    width: 60%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .foote .foote1 .some {
    width: 100%;
  }
  .foote .foote2 {
    width: 35%;
  }
  .foote .foote3 {
    width: 41%;
  }
}

@media (max-width: 400px) {
  .foote {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .foote .foote1 {
    text-align: center;
    width: 80%;
  }
  .foote .foote2 {
    text-align: center;
    width: 80%;
  }
  .foote .foote3 {
    text-align: center;
    width: 80%;
  }
}

.last {
  width: 100%;
  background-color: #6B4F4F;
  padding-bottom: 3%;
}

@media (max-width: 768px) {
  .last {
    padding-bottom: 10%;
  }
}
/*# sourceMappingURL=appoinmentstyle.css.map */